# App Settings
APP_ENV=development
LISTEN_ADDR=:8090

# Database Settings
DB_HOST=127.0.0.1
DB_PORT=15432
DB_USER=nms_user
DB_PASSWORD=nms_pass
DB_NAME=nms_db
DB_SSL_MODE=disable

# Security Settings
MASTER_KEY=jinom-vpn-master-key-secret
API_KEY=jinom-vpn-api-key-secret

# Platform Settings
VPS_PUBLIC_IP=127.0.0.1
